# ignore netrw history
vim/.netrwhist

# deny backup and swap files
*~
*.*~
*.swp
*.swo

# deny views, backups, tmp and undo
/vim/doc/*
/vim/view/*
/vim/backup/*
/vim/tmp/*
/vim/undo/*

# ignore Vimball
vim/.VimballRecord

# ignore bundles
vim/bundle

!.gitignore
