[submodule "vim/bundle/delimitmate"]
	path = vim/bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/zencoding"]
	path = vim/bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/ragtag"]
	path = vim/bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = git://github.com/esukram/taglist.vim.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "vim/bundle/vimfiler"]
	path = vim/bundle/vimfiler
	url = git://github.com/Shougo/vimfiler.git
[submodule "vim/bundle/visincr"]
	path = vim/bundle/visincr
	url = git://github.com/vim-scripts/VisIncr.git
[submodule "vim/bundle/phpcomplete/autoload"]
	path = vim/bundle/phpcomplete/autoload
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/manpageview"]
	path = vim/bundle/manpageview
	url = git://github.com/vim-scripts/ManPageView.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim_erlang"]
	path = vim/bundle/vim_erlang
	url = git://github.com/jimenezrick/vimerl.git
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-quickrun"]
	path = vim/bundle/vim-quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule "vim/bundle/unite"]
	path = vim/bundle/unite
	url = git://github.com/Shougo/unite.vim.git
[submodule "vim/bundle/unite-outline"]
	path = vim/bundle/unite-outline
	url = git://github.com/h1mesuke/unite-outline.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-ragtag"]
	path = vim/bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
