# ignore netrw history
vim/.netrwhist

# deny backup and swap files
*~
*.*~
*.swp
*.swo

# deny views, backups, tmp and undo
/vim/doc/*
/vim/view/*
/vim/backup/*
/vim/tmp/*
/vim/undo/*

# ignore Vimball
vim/.VimballRecord

!.gitignore

# deny products of GetLatestVimScripts
vim/GetLatest/GetLatestVimScripts.dist
vim/GetLatest/Installed/*
